.xx{
     
    position: relative;
    left: 25%;
   top: 5px }
   .xxx{
       position: relative;left: 29%;
    bottom: 55px;
   }
   .xxxx{
width: 800px;
    position: absolute;
    top: 35%;
    left: 18%;
   }